@import "tailwindcss";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --background: #001f3f; /* Navy blue background */
  --navbar-footer-bg: #d3d3d3; /* Light grey for navbar and footer */
  --foreground: #ffffff; /* White text for contrast */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Playfair';
  margin: 0;
  padding: 0;
  overscroll-behavior: none; /* Prevent scroll chaining */
}

/* Set a background image on the page body when on Home */
body.home-background {
  background-image: url('/ij-chorus-conduct.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  /* keeps background fixed */
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}




.main-container {
  overscroll-behavior-y: contain;
}

header, footer {
  background: var(--navbar-footer-bg);
  font-family: 'Playfair';
  color: var(--background);
  padding: 1rem;
  text-align: center;
  position: sticky;
  top: 0; /* Applies to header only */
  z-index: 1000;
  width: 100vw; /* Full viewport width */
  left: 0;       /* Ensure it's aligned with the left edge */
}

footer {
  position: sticky;
  bottom: 0;
  font-family: 'Playfair';
}
